<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="client-offline-closure"
         value="vendor\p14a2\packages" />
    <add key="p10b3-protocol-local-pinned"
         value="vendor\p10b3\packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="client-offline-closure">
      <package pattern="Sodium.Core" />
      <package pattern="libsodium" />
      <package pattern="Google.Protobuf" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Microsoft.*" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="System.*" />
      <package pattern="coverlet.collector" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="p10b3-protocol-local-pinned">
      <package pattern="Deep.Protocol*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
