<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="p04-local-pinned"
         value="..\..\wave01b\deep-protocol\artifacts\survival\P04\packages" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value=".packages" />
  </config>
</configuration>
