<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="p14a2-offline" value="../../vendor/p14a2/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="p14a2-offline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
