<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="client-offline-closure" value="../../vendor/p14a2/packages" />
    <add key="p10i-protocol-local-pinned" value="../../vendor/p10i/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="client-offline-closure">
      <package pattern="*" />
    </packageSource>
    <packageSource key="p10i-protocol-local-pinned">
      <package pattern="Deep.Protocol*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
